{% extends 'portfolio/layout.html' %}

{% block main %}
    <section class="hero">
        {% load static %}
        <div class="mouse_move">
            <img src="{% static 'portfolio/images/hero/1.png' %}" value="-5" class="mouse" id="img1">
            <img src="{% static 'portfolio/images/hero/2.png' %}" value="8" class="mouse" id="img2">
            <img src="{% static 'portfolio/images/hero/3.png' %}" value="2" class="mouse" id="img3">
            <img src="{% static 'portfolio/images/hero/4.png' %}" value="-4" class="mouse" id="img4">
            <img src="{% static 'portfolio/images/hero/5.png' %}" value="2" class="mouse" id="img5">
            <img src="{% static 'portfolio/images/hero/6.png' %}" value="9" class="mouse" id="img6">
            <img src="{% static 'portfolio/images/hero/7.png' %}" value="4" class="mouse" id="img7">
            <img src="{% static 'portfolio/images/hero/8.png' %}" value="3" class="mouse" id="img8">
            <img src="{% static 'portfolio/images/hero/9.png' %}" value="7" class="mouse" id="img9">
            <h1 class="hero_title">Hi! My name is Luis <br><span class="heroIntro">I'm a </span><span id="spin"></span>!</h1>
        </div>
    </section>

    <div class="divider">
    </div>

    <article class="section2">
        <div class="title">
            <h3>Sobre Mim</h3>
        </div>

        <div class="flex-sobreMim">
            <div class="sobreMimImg col-2">
                {% load static %}
                <img src="{% static 'portfolio/images/icons/personInfo.png' %}">
            </div>
            <div class="sobreMim col-9">
                <p>
                    Olá, o meu nome é Luís Ferreira. Sou programador, web developer e estudante de Engenharia Informática.
                    <br>
                    Numa constante busca pelo melhor que posso ser, prezo-me por valores basilares como a honestidade, a competência, o respeito e a empatia. Acredito no trabalho marcado pelo interesse, onde a contribuição para o desenvolvimento de projetos na área da tecnologia é uma conquista de todos nós.
                </p>
            </div>

            <div class="sobreMimImg col-2">
                {% load static %}
                <img src="{% static 'portfolio/images/icons/code.png' %}">
            </div>
            <div class="sobreMim col-9">
                <p>
                    Ao longo da minha vida fui ganhando experiência nas seguintes linguagens:
                </p>
                <ul>
                    <li>C#</li>
                    <li>Java</li>
                    <li>Kotlin</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
        </div>


    </article>

    <div class="divider"></div>

    <article class="websiteTree">
        <div class="title">
            <h3>Árvore do Website</h3>
        </div>
        {% load static %}
        <img src="{% static 'portfolio/images/websiteTree.png' %}" class="websiteTreeImg"    alt="">
    </article>

    <div class="divider"></div>


    <articlec class="section2">
        <div class="title">
            <h3>Contacte-me</h3>
            {% load static %}
            <a href="https://github.com/a22007560" target="_blank"><img src="{% static 'portfolio/images/icons/github.png' %}"></a>
            <a href="https://www.linkedin.com/in/luisfferreira99/" target="_blank">
                {% load static %}
                <img src="{% static 'portfolio/images/icons/linkedin.png' %}">
            </a>
        </div>

        <form action="" class="formContacto">
            <input type="text" id="name" name="name" placeholder="Nome..." class="col-4">

            <input type="text" id="email" name="email" placeholder="Email..."  class="col-4">

            <input type="text" id="assunto" name="assunto" placeholder="Assunto..."  class="col-6">

            <textarea id="conteudo" name="conteudo" placeholder="Texto..." style="height:200px"  class="col-6"></textarea>

            <input type="submit" value="Enviar" class="sendContactForm">
      </form>


    </articlec>

{% endblock %}