<!DOCTYPE html>
{% load static %}
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_blog.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_quizz.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_heroSection.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_grid.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_login.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_weather.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_factos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_projectos.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_list.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_cols.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/estilos_noticias.css' %}">
    <script src="{% static 'portfolio/javascript/hero.js' %}"></script>
    <script src="{% static 'portfolio/javascript/weatherAPI.js' %}"></script>
    <script src="{% static 'portfolio/javascript/clock.js' %}"></script>
    <script src="{% static 'portfolio/javascript/randomFact.js' %}"></script>
    <script src="{% static 'portfolio/javascript/newsAPI.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'portfolio/images/icons/favicon.ico' %}">
</head>

<body onload="showDate()">
    <header class="sticky">
        <div class="headerTitle">Luís Ferreira</div>
        <ul class="menu">
            <li><a href="{% url 'portfolio:home' %}">Home</a></li>
            <li><a href="{% url 'portfolio:licenciatura' %}">Educação</a></li>
            <li><a href="{% url 'portfolio:projetos' %}">Projetos</a></li>
            <li><a href="#">Programação Web</a>
                <ul>
                    <li><a href="https://pw-lab1.herokuapp.com/" target="_blank">Labs</a></li>
                    <li><a href="{% url 'portfolio:noticias' %}">Notícias</a></li>
                </ul>
            </li>
            <li><a href="{% url 'portfolio:blog' %}">Blog</a></li>
            <li><a href="{% url 'portfolio:quizz' %}">Quizz</a></li>
            <li><a href="#">API's</a>
                <ul>
                    <li><a href="{% url 'portfolio:weather' %}">Meterologia</a></li>
                    <li><a href="{% url 'portfolio:factos' %}">Animais</a></li>
                </ul>
            </li>
            <li>
                {% if request.user.is_authenticated %}
                    <a class="navLogin" href="{% url 'portfolio:logout' %}" id="loginNav">Logout</a>
                {% else %}
                    <a class="navLogin" href="{% url 'portfolio:login' %}" id="loginNav">Login</a>
                {% endif %}
            </li>
        </ul>
    </header>
    
    <main>
        <div class="timeAndDate">
            <div id="clock">00:00:00</div>
            <div id="date">--/--/--</div>
        </div>

        {% block main %}
        {% endblock main %}
    </main>
    
    <footer>ULHT, 2022</footer>

</body>