{% extends 'portfolio/layout.html' %}

{% block main %}
<section class="licenciaturaMain">
    
    <div class="title">
        <h3>Cadeiras</h3>
        <p>Nesta página é possível observar algumas das UC frequentadas durante a Licenciatura em Engenharia Informática na ULHT</p>
    </div>

    <div class="">
        {% if request.user.is_authenticated %}
        <div class="createPostButton">
            <a href="{% url 'portfolio:novaCadeira' %}">Adicionar Cadeira</a>
        </div>
        {% endif %}

        <div class="list-licenciatura list-background">
            {% for cadeira in cadeiras %}
            <div class="list-item">
                <div class="list-item-title">
                    <h4>{{ cadeira.titulo }}</h4>
                </div>

                <div class="list-item-img">
                    <img src="{{cadeira.imagem.url}}">
                </div>

                <div class="list-item-desc">
                    <p>{{ cadeira.descricao }}</p>
                </div>

                {% if request.user.is_authenticated %}
                <div class="list-item-editBT">
                    <a href="{% url 'portfolio:editCadeira' cadeira.id %}">Editar Cadeira</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>





    </div>
</section>
{% endblock %}