{% extends 'portfolio/layout.html' %}

{% block main %}

<section class="loginMain">
    <div class="title">
        <h3>Login</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="wrapper">
        <div class="loginBlock">
            {% load static %}
            <img src="{% static 'portfolio/images/icons/admin.png' %}">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="username" id="" placeholder="Username">
                <input type="password" name="password" id="" placeholder="Password">
                <button type="submit" value="Login">Entrar</button>
            </form>

        </div>
    </div>


</section>

{% endblock %}