{% extends 'portfolio/layout.html' %}

{% block main %}


<section class="noticiasMain">

    <div class="title">
        <h3>Noticias</h3>
        <p>As 10 principais notícias da actualidade sobre o mundo</p>
    </div>

    <div class="center-align">
        {% for news in '0123456789' %}
        <div class="newsBox" id="newsBox{{news}}"></div>
        {% endfor %}
    </div>

    <script>
        window.onload = function () {
            getNews();
            showDate();
        }
    </script>
</section>

{% endblock %}