{% extends 'portfolio/layout.html' %}

{% block main %}


<section class="noticiasMain">

    <div class="title">
        <h3>Noticias</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="center-align">
        {% for news in '0123456789' %}
        <div class="newsBox" id="newsBox{{news}}"></div>
        {% endfor %}
    </div>

    <script>
        window.onload = function () {
            getNews();
        }
    </script>
</section>

{% endblock %}