{% extends 'portfolio/layout.html' %}

{% block main %}
    <section class="project-sec1">

        <div class="title">
            <h3>Projetos</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        {% if request.user.is_authenticated %}
        <div class="createPostButton">
            <a href="{% url 'portfolio:newProject' %}">Adicionar Projecto</a>
        </div>
        {% endif %}


        {% for project in projetos %}
        <div class="project flex-container">
            <div class="project_header">
                <h3>{{ project.titulo }}</h3>
            </div>

            <div class="project-img">
                <img src="{{project.imagem.url}}" class="projectImg">
            </div>

            <div class="project-desc">
                <p>{{ project.descricao }}</p>
            </div>
        </div>
        {% if request.user.is_authenticated %}
        <div class="createPostButton">
            <a href="{% url 'portfolio:editProject' project.id %}">Editar Projecto</a>
        </div>
        {% endif %}
        {% endfor %}



    </section>

{% endblock %}