{% extends 'portfolio/layout.html' %}

{% block main %}
    <section class="project-sec1">

        <div class="title">
            <h3>Projetos</h3>
            <p>Projetos pessoais e profissionais realizados por mim ao longo do tempo</p>
        </div>

        {% if request.user.is_authenticated %}
        <div class="createPostButton">
            <a href="{% url 'portfolio:newProject' %}">Adicionar Projecto</a>
        </div>
        {% endif %}

        <div class="list-projectos list-background">
            {% for project in projetos %}
            <div class="list-item">
                <div class="list-item-title">
                    <h4>{{ project.titulo }}</h4>
                </div>

                <div class="list-item-img">
                    <img src="{{project.imagem.url}}" class="projectImg">
                </div>

                <div class="list-item-desc">
                    <p>{{ project.descricao }}</p>
                </div>

                {% if request.user.is_authenticated %}
                <div class="list-item-editBT">
                    <a href="{% url 'portfolio:editProject' project.id %}">Editar Projecto</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div class="title">
            <h3>TFC's</h3>
            <p>Trabalhos de Final de Curso realizados por alguns colegas meus</p>
        </div>

        {% if request.user.is_authenticated %}
        <div class="createPostButton">
            <a href="{% url 'portfolio:newTFC' %}">Adicionar TFC</a>
        </div>
        {% endif %}

        <div class="list-projectos list-background">
            {% for tfc in tfcs %}
            <div class="list-item">
                <div class="list-item-title">
                    <h4>{{ tfc.titulo }}</h4>
                </div>

                <div class="list-item-img">
                    <img src="{{tfc.imagem.url}}" class="projectImg">
                </div>

                <div class="list-item-desc">
                    <p>Autor: {{ tfc.autor }}</p>
                </div>

                <div class="list-item-desc">
                    <p>Orientador: {{ tfc.orientador }}</p>
                </div>

                <div class="list-item-desc">
                    <p>{{ tfc.resumo }}</p>
                </div>

                <div class="list-item-desc">
                    <p>{{ tfc.links }}</p>
                </div>

                {% if request.user.is_authenticated %}
                <div class="list-item-editBT">
                    <a href="{% url 'portfolio:editTFC' tfc.id %}">Editar TFC</a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>





    </section>

{% endblock %}