{% extends 'portfolio/layout.html' %}

{% block main %}

<section class="quizzMain">

    <div class="title">
        <h3>Quizz</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="quizzQuestion">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Nome e Apelido" required>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 1#</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <label for="op1">Opção 1#</label>
            <input type="radio" name="pergunta1" id="op1"><br>

            <label for="op2">Opção 2#</label>
            <input type="radio" name="pergunta1" id="op2"><br>

            <label for="op3">Opção 3#</label>
            <input type="radio" name="pergunta1" id="op3"><br>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 2#</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <label for="op21">Opção 1#</label>
            <input type="checkbox" id="op21" name="op21" value="op21"><br>

            <label for="op22">Opção 2#</label>
            <input type="checkbox" id="op22" name="op21" value="op22"><br>

            <label for="op23">Opção 3#</label>
            <input type="checkbox" id="op23" name="op21" value="op23"><br>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 3#</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <input type="text" name="op31" id="op31" placeholder="Resposta..." required>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 4#</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <label for="op41">Data:</label>
            <input type="date" id="op41" name="op41">
        </div>

        <div class="quizzQuestion">
            <h4>Feedback</h4>
            <p>Classifique o quão interessante foi o quizz!</p>
            <input type="range" id="review" name="review" min="0" max="10">
            <div class="rating">
                {% load static %}
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
            </div>
        </div>

        <div class="submitQuizz">
            <input type="submit">
        </div>
    </form>

    <!--
    {% load static %}
    <img src="{% static 'portfolio/images/graf.png' %}" alt="">
    -->


</section>

{% endblock %}