{% extends 'portfolio/layout.html' %}

{% block main %}

<section class="quizzMain">

    <div class="title">
        <h3>Quizz</h3>
        <p>Testem o vosso conhecimento sobre Programação Web</p>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="quizzQuestion">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" placeholder="Nome e Apelido" required>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 1#</h4>
            <p>Para fazer um link abrir num separador novo qual o valor do atributo 'target'?</p>
            <label for="op1">_new</label>
            <input type="radio" name="pergunta1" id="op1"><br>

            <label for="op2">_blank</label>
            <input type="radio" name="pergunta1" id="op2" value="op2"><br>

            <label for="op3">_self</label>
            <input type="radio" name="pergunta1" id="op3"><br>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 2#</h4>
            <p>Qual ou quais destas linguagens não são linguagens de Frontend?</p>
            <label for="op21">C++</label>
            <input type="checkbox" id="op21" name="op21" value="op21"><br>

            <label for="op22">JavaScript</label>
            <input type="checkbox" id="op22" name="op21" value="op22"><br>

            <label for="op23">Java</label>
            <input type="checkbox" id="op23" name="op21" value="op23"><br>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 3#</h4>
            <p>Qual o significado do acrónimo 'HTML'?</p>
            <input type="text" name="op31" id="op31" placeholder="Resposta..." required>
        </div>

        <div class="quizzQuestion">
            <h4>Pergunta 4#</h4>
            <p>Em que ano foi criado o primeiro Website?</p>
            <label for="op41">Data:</label>
            <input type="text" name="op41" id="op41" placeholder="Resposta..." required>
        </div>

        <div class="quizzQuestion">
            <h4>Feedback</h4>
            <p>Classifique o quão interessante foi o quizz!</p>
            <input type="range" id="review" name="review" min="0" max="10">
            <div class="rating">
                {% load static %}
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
                <img src="{% static 'portfolio/images/icons/star.png' %}" alt="star">
            </div>
        </div>

        <div class="submitQuizz">
            <input type="submit">
        </div>
    </form>

    {% load static %}
    <div  class="center-align">
        <img src="data:image/png;base64,{{ data }}" alt="">
    </div>

</section>

{% endblock %}