{% extends 'portfolio/layout.html' %}

{% block main %}

<section class="weatherMain">

    <div class="title">
        <h3>Meterologia</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="weatherCityInput">
        <select name="city" id="city" onchange="getWeatherFun()">
            <option value="1110600" selected="selected">Lisboa</option>
            <option value="1131200">Porto</option>
            <option value="1080500">Faro</option>
        </select>
    </div>

    <div class="weatherForecastDays">
        <div class="weatherDisplay">
            <h3 class="data0"></h3>
            <img class="weatherIcon1" id="weatherIcon0" src="">
            <h3 class="maxTemp0"></h3>
            <h3 class="minTemp0"></h3>
            <h3 class="chuvaProb0"></h3>
        </div>

        <div class="weatherDisplay">
            <h3 class="data1"></h3>
            <img class="weatherIcon1" id="weatherIcon1" src="">
            <h3 class="maxTemp1"></h3>
            <h3 class="minTemp1"></h3>
            <h3 class="chuvaProb1"></h3>
        </div>

        <div class="weatherDisplay">
            <h3 class="data2"></h3>
            <img class="weatherIcon2" id="weatherIcon2" src="">
            <h3 class="maxTemp2"></h3>
            <h3 class="minTemp2"></h3>
            <h3 class="chuvaProb2"></h3>
        </div>

        <div class="weatherDisplay">
            <h3 class="data3"></h3>
            <img class="weatherIcon3" id="weatherIcon3" src="">
            <h3 class="maxTemp3"></h3>
            <h3 class="minTemp3"></h3>
            <h3 class="chuvaProb3"></h3>
        </div>

        <div class="weatherDisplay">
            <h3 class="data4"></h3>
            <img class="weatherIcon4" id="weatherIcon4" src="">
            <h3 class="maxTemp4"></h3>
            <h3 class="minTemp4"></h3>
            <h3 class="chuvaProb4"></h3>
        </div>
    </div>

</section>

{% endblock %}